---
import { ContentSmall } from "@xprtz/ui";
import { type Page } from "@xprtz/cms";
import Layout from "../layouts/layout.astro";

const page: Page = {
  title_website: "Pagina niet gevonden",
  subtitle: "404",
  description: "Deze pagina is net zo onvindbaar als die ene variabele die nooit geïnitialiseerd is geweest.",
}
---
<Layout title={page.title_website} description={page.description}>
  <div class="text-center">
    <ContentSmall {...page} />
  </div>
</Layout>
