---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div class="text-center pt-36">
      <p class="text-base font-semibold text-primary-600">404</p>
      <h1
        class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"
      >
        Pagina niet gevonden
      </h1>
      <p
        class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8"
      >
        Deze pagina is net zo onvindbaar als die ene variabele die je bent
        vergeten te initialiseren.
      </p>
    </div>
</Layout>
