---
// src/pages/algemene-voorwaarden.astro
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Algemene Voorwaarden</title>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <object
      data="algemene_voorwaarden_xprtz_group_2022.pdf"
      type="application/pdf"
      width="100%"
      height="100%"
    >
      <p>Het PDF bestand kan niet worden weergegeven. Je kan het wel hier <a href="/algemene_voorwaarden_xprtz_group_2022">downloaden</a>.</p>
    </object>
  </body>
</html>
