---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/xprtz.svg';
---

<Layout>
		<div class="container">
			<Logo />
		</div>
</Layout>

<style>
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-image: url('mixed-hor.jpg');
		background-size: cover;
	}
	.container h1 {
		font-size: 3rem;
	}
</style>
