---
import { BaseHead, Footer, Header } from '@xprtz/ui'
import Logo from '../images/logo_met_tekst.svg'
const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header Logo={Logo.src} client:load/>
    <main class="isolate">
      <slot />
    </main>
    <Footer />
  </body>
</html>
