---
import { fetchData, type Page } from "@xprtz/cms";
export async function getStaticPaths() {
  const pageData = await fetchData<Array<Page>>({
    endpoint: "pages",
    wrappedByKey: "data",
    query: {
      "filters[site][$eq]": "dotnet",
    },
  });
  return pageData.map((data: Page) => ({
    params: { slug: data.slug },
    props: data,
  }));
}

const page: Page = Astro.props;
---

<h1>{page.title}</h1>
<h2>{page.description}</h2>
