---
import { type LogoCloud } from "@xprtz/cms";
const logoCloud = Astro.props as LogoCloud;
const site = import.meta.env.PUBLIC_IMAGES_URL;
---
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-32">
    <h2 class="text-center text-lg/8 font-semibold text-primary-800">{logoCloud.title}</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {logoCloud.klant.map(k => (
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src=`${site}${k.image.url}` alt={k.image.alternateText} width="158" height="48">
      ))}
    </div>
  </div>
