---
import { type Team } from "@xprtz/cms";
import { Carousel } from "..";
const team = Astro.props as Team;
---

<div class="mx-auto mt-32 max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2
      class="text-pretty text-4xl font-semibold tracking-tight text-primary-800 sm:text-5xl"
    >
      {team.title}
    </h2>
    <p class="mt-6 text-lg/8 text-gray-600">{team.description}</p>
  </div>

  <div class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-3 lg:mx-0 lg:max-w-none lg:grid-cols-3 xl:grid-cols-3">
    <Carousel client:idle />
  </div>
</div>
