---
const currentYear = new Date().getFullYear();
---

<footer
  class="bg-primary-600 dark:bg-primary-900 text-white border-t border-primary-900 dark:border-gray-400"
>
  <div
    class="max-w-4xl mx-auto px-6 py-2 flex items-center justify-center text-center"
  >
    <p class="mt-4 text-center text-sm/6 text-gray-100 dark:text-white order-1">
      &copy; {currentYear} XPRTZ B.V.
    </p>
  </div>
</footer>
