---
---
<div class="w-48 h-48 logo-container">
  <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 213.8 277.5">
    <path fill="#FFFFFF" d="m 213.8,106.9 c 0,59 -47.8,106.9 -106.9,106.9 C 47.8,213.8 0,166 0,106.9 0,47.8 47.8,0 106.9,0 166,0 213.8,47.9 213.8,106.9 Z M 48.1,165.8 H 77.9 L 99.5,144.1 84.6,129.3 Z M 99.6,69.6 77.8,47.9 H 48.1 l 36.7,36.6 z m 7.3,37.3 L 165.8,48 H 136 L 92.1,92.1 v 0 0 29.8 l 44.1,43.9 h 29.7 z"/>
  </svg>
</div>

<style>
  .logo-container {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
  }
</style>