name: "[Reusable workflow] Apply Bicep infrastructure"
concurrency: apply-infrastructure-${{ inputs.application }}-${{ github.ref_name }}-${{ github.event_name }}

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      application:
        required: true
        type: string
    outputs:
      storageAccount:
        value: ${{ jobs.apply-infrastructure.outputs.storageAccount }}
        description: The storage account where the website will be deployed to
      resourceGroup:
        value: ${{ jobs.apply-infrastructure.outputs.resourceGroup }}
        description: The resourcegroup which holds the storage account for the website

jobs:
  apply-infrastructure:
    name: Apply infrastructure
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      storageAccount: ${{ steps.deploybicep.outputs.storageAccountName }}
      resourceGroup: ${{ steps.deploybicep.outputs.resourceGroupName }}
    steps:
      - uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Slugify Github variables
        uses: rlespinasse/github-slug-action@v4
        with:
          slug-maxlength: 50

      - name: Deploy Bicep file
        id: deploybicep
        uses: azure/arm-deploy@v2
        with:
          scope: subscription
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          template: ./infrastructure/website.bicep
          deploymentName: deploy-${{ inputs.application }}
          parameters: >-
            ./infrastructure/dotnet.bicepparam
            resourceGroupSuffix=${{ env.GITHUB_REF_NAME_SLUG }}
          region: westeurope

      - name: Comment Website FQDNs on Pull Requests
        uses: actions/github-script@v7
        if: github.event_name == 'pull_request'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `# Preview environment URL

              ## ${{inputs.application}}

              ${{ steps.deploybicep.outputs.applicationFqdn }}
              `
            })
